[submodule "libvmm"]
	path = vmm
	url = https://github.com/au-ts/libvmm.git
	branch = main
[submodule "sddf"]
	path = sddf
	url = https://github.com/au-ts/sddf.git
	branch = main
[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
[submodule "musllibc"]
	path = musllibc
	url = git@github.com:au-ts/musllibc.git
	branch = sel4
[submodule "libnfs"]
	path = libnfs
	url = git@github.com:au-ts/libnfs.git
[submodule "fs/fat"]
	path = fs/fat
	url = git@github.com:Cheng-Li1/AsyncFATFs.git
